@charset "utf-8"
	body {
		background-color: #fffeee;
}


/* css 기본 문법
h1(선택자){
	color(속성):red(값);
}

-선택자 : 어떤 것을 장식할 것인지?
-속성: 무엇을 변경할 것인지?
-값: 외관을 어떻게 변경할 것인지?

*/

/* CSS 작성 시 규칙

- 대문자 금지
- 여러 개의 장식 지정 시 h1,p 와 같이 쉼표 사용하기
- 단위 지정하기
	20px 픽셀 화면 위의 최서 단위 설정
	% 부모 요소의 크기를 기준! -> 비율로 지정하는 단위
	rem 루트요소(html)에 지정된 크기를 기준
-요소 내부의 요소 지정하기
*/

html {
	font-family: 'Gowun Batang', cursive;
	font-size: 100%;
}
h1 {
	font-weight: bold;
	font-family: "맑은 고딕", "Malgun Gothic",MalgunGothic, sans-serif;
	font-size: 2rem;
	text-align: center;
	font-family: 'Gowun Batang', cursive;
	color: LightCoral;
}
h2 {
	font-family: "나눔바른고딕","Nanum Barun Gothic", NanumBarunGothic, sans-serif;
	font-size: 20px
	color: Tomato;
}
p {
	font-weight: bold;
	line-height: 1.7;
	color:Orchid;
}
body {
	/*background-color: Lavender;*/
	background-color: #f5f2e5;
	background-image: url(images/pic.jpg);
	background-repeat: no repeat;
	/* background-position: top center;  배경 이미지를 출력하는 위치 지정*/
	/* background-size: contain;  가로 세로 비율을 유지하고, 이미지가 모두 출력되게 지정
	height: 100vh; */
	background-position: 30px 80px; /* 이미지를 왼쪽에서 30px,위에서 80px 이동하게 지정!*/
	
}
div {
	background: #0bd;
	width: 500px;
	height: 300px;
	margin-top: 30px;
	margin-left: 100px;
}
	
/* 선 긋기 */

p {
	border-width: thick;
	border-style: solid;
}
div {
	border-width: 4px 4px 4px 4px;
	border-style: solid;
}
.item {
	background: #0bd;
	color: #fff;
	margin: 10px;
	padding: 10px;
}
.container {
	display: flex;
}